@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --green:#27ae60;
    --dark-color:#219150;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition:all .2s linear;
}

html{
    overflow: hidden;
    background-color: #dad8cf;
}

.head{
    max-width: 55%;
    width: 25%;
}

.img-head > img{
    width: 55% !important;
}

section{
    padding:14rem 2%;
}

.btn{
    font-size: 15px;
    color: #000000;
}

.heading{
    margin-top: 1rem;
    font-size: 1.5rem;
    margin-left: 1rem;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.featured .featured-slider{
  background-color: #ffffff;
  padding: 0 5rem 0 0.5rem;
  border-radius: 15px;
  margin-top: -110px;
}

.featured .featured-slider .box{
    margin:1rem 0;
    position: relative;
    overflow: hidden;
    border:var(--border);
    border-radius: 15px;
    text-align: center;
}

.featured .featured-slider .box .image{
    padding:1rem;
    background-color: #e9edf1;
    background-image: url('uploads/logo-archive.png');
    background-size: 100%;
    height: 16rem;
    border-radius: 15px;
   
}

.featured .featured-slider .box .image img{
    height: 15rem;
}

.featured .featured-slider .box .icons a:hover{
    color:#fff;
}

.featured .featured-slider .box .content{
    background: #ffffff;
    padding:1rem;
}

.featured .featured-slider .box .content h3{
    font-size: 1.2rem;
    color:var(--black);
    font-family:'Montserrat', sans-serif;
}

.content a{
  color: #a30909 !important;
}

.swiper-button-next,
.swiper-button-prev{
    height:4rem;
    width:3rem;
    color:var(--black);
    background: #ffffff;
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 2rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
    background: var(--black);
    color:#fff;
}